@use "../variables/var-animation-number" as *;

.animation-number {
  background-color: $animation-number-background-color;
  &-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }
  &__info {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    max-width: 547px;
    margin-right: 40px;
    &-interactive {
      width: 218px;
      height: 205px;
      margin-right: 15px;
      position: relative;
      border: 5px solid #e2e1e12f;
      overflow: hidden;
      animation: all 2s;
      .info-interactive__line {
        position: absolute;
        background-color: $main-color;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        transition: all 1s ease-in-out;
      }
      .info-interactive__text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: end;
        justify-content: space-between;
        .plus {
          display: block;
          width: 70px;
          height: 70px;
          transform: rotateY(180deg);
        }
        .number {
          color:$main-color;
          font-size: 85px;
          margin-block-start: 0em;
          margin-block-end: 0em;
        }
        .percent {
          width: 50px;
          height: 56px;
        }
      }
    }

    &-text-desctop {
      @include animation-number-subtext;
      max-width: 247px;

      &--tablet {
        display: none;
      }
    }

    &-title {
      @include animation-number-title;
      margin-top: 61px;
    }
  }
  &__image {
    width: 100%;
  }
}

@media (max-width: 1750px) {
  .animation-number {
    &__image {
      display: none;
    }
    &-flex {
      padding-left: 0px;
      padding-top: 57px;
      padding-bottom: 30px;
      display: block;
    }

    &__info {
      max-width: none;
      margin-right: 0px;
      justify-content: center;
      &-text-desctop {
        display: none;
        &--tablet {
          display: block;
          @include animation-number-subtext;
          max-width: 439px;
          margin-left: auto;
          margin-top: 20px;
        }
      }
      &-title {
        max-width: 460px;
        margin-top: 0px;
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 735px) {
  .animation-number {
    &-flex {
      padding-top: 61px;
      padding-bottom: 55px;
    }

    &__info {
      max-width: none;
      margin-right: 0px;
      justify-content: center;
      &-text-desctop {
        &--tablet {
          max-width: 439px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 53px;
          text-align: center;
        }
      }
      &-title {
        text-align: center;
        margin-top: 37px;
        font-size: 28px;
        line-height: 28px; /* 100% */
        letter-spacing: 0.28px;
      }
    }
  }
}
