.dropdown-answer {
  margin-bottom: 80px;
  &--hidden {
    a,
    p,
    ul,
    div {
      display: none;
    }
  }

  h5 {
    &::before {
      content: url(../../../assets/icons/nested-list/arrow-bottom-inactive.svg);
      margin-right: 10px;
      width: 16px;
      height: 10px;
    }
  }

  &--title-active {
    h5 {
      color: $main-color;
      &::before {
        content: url(../../../assets/icons/nested-list/arrow-bottom-active.svg);
        margin-right: 10px;
        width: 16px;
        height: 10px;
      }
    }
  }
  &__title {
    text-align: left;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 122.727% */
    letter-spacing: 0.22px;
    color: #efefef;
    cursor: pointer;
    padding-bottom: 24px;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  &__text {
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 122.727% */
    letter-spacing: 0.22px;
    color: #efefef;
    margin-block-start: 0em;
    margin-block-end: 0em;
    &-title {
      margin-left: -40px;
      list-style: none;
    }
  }
}

.dropdown-answer-complex {
  &__first,
  &__second {
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 122.727% */
    letter-spacing: 0.22px;
    color: #efefef;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  &__second {
    margin-top: 30px;
    padding-left: 40px;
    border-left: 5px solid #fff;
    border-radius: 5px;
  }
  &__pop-up {
    color: $main-color;
    text-decoration: underline;
    cursor: pointer;
  }
  &__gadgets {
    display: flex;
    align-items: end;
    padding-top: 35px;
  }

  &__notebook,
  &__desctop,
  &__book {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__notebook {
    position: relative;
    &--first {
      &-first {
        img {
          width: 250px;
        }
        &::after {
          content: url(../../../assets/images/proposition/complex-visual-gadgets--first/noteboook.png);
          position: absolute;
          top: 15px;
          left: 20px;
        }
      }
      &-second {
        img {
          width: 250px;
        }
        &::after {
          content: url(../../../assets/images/proposition/complex-visual-gadgets--second/notebook.png);
          position: absolute;
          top: 16px;
          left: 25px;
        }
      }
    }
  }
  &__desctop {
    position: relative;
    &--first {
      &-first {
        img {
          width: 210px;
        }
        &::after {
          content: url(../../../assets/images/proposition/complex-visual-gadgets--first/big-desctop.png);
          position: absolute;
          top: 13px;
          right: 6px;
        }
        &::before {
          content: url(../../../assets/images/proposition/complex-visual-gadgets--first/big-desctop-background.png);
          position: absolute;
          top: 14px;
          left: 4px;
        }
      }
      &-second {
        img {
          width: 210px;
        }
        &::after {
          content: url(../../../assets/images/proposition/complex-visual-gadgets--second/big-desctop.png);
          position: absolute;
          top: 14px;
          right: 4px;
        }
      }
    }
  }

  &__book {
    position: relative;
    &--first {
      &-first {
        img {
          width: 262px;
        }
        &::after {
          content: url(../../../assets/images/proposition/complex-visual-gadgets--first/book.png);
          position: absolute;
          top: 2px;
          right: 2px;
        }
      }
      &-second {
        img {
          width: 262px;
        }
        &::after {
          content: url(../../../assets/images/proposition/complex-visual-gadgets--second/book.png);
          position: absolute;
          top: 3px;
          right: 2px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .dropdown-answer-complex {
    &__gadgets {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .dropdown-answer {
    margin-bottom: 28px;
    border-bottom: 1px solid #9da0a36e;
    &__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 21px; /* 161.538% */
    }
    &-complex {
      &__first,
      &__second {
        font-size: 12px;
        line-height: 18px; /* 150% */
        letter-spacing: 0.12px;
      }

      &__second {
        padding-left: 20px;
      }
    }
  }
}
