//Colors
$title-color: #1c1c1c;
$text-color: #000;

@mixin title {
  color: #1c1c1c;
  font-family: Bebas Neue;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 100% */
  letter-spacing: 0.5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-transform: uppercase;
}

@mixin subtitle {
  color: $title-color;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 122.727% */
  letter-spacing: 0.44px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@mixin fitback {
  color: $text-color;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
  letter-spacing: 0.36px;
  margin-block-start: 0em;
  margin-block-end: 0em;

  a {
    color: $main-color;
    text-decoration: none;
  }
}

@mixin list {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  letter-spacing: 0.36px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.pop-up-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000000;
  opacity: 1;
  display: none;
  align-items: center;
  justify-content: center;

  &--active {
    display: flex;
  }
  .pop-up {
    border-radius: 6px;
    background-color: #f9f9f9;
    padding-top: 3.5%;
    padding-left: 2.6%;
    padding-right: 3.5%;
    padding-bottom: 2.6%;
    max-height: inherit;
    overflow: auto;
    &__close-wrap {
      max-width: 52.083333%; /* 1000/1920 */
      max-height: 85vh;
      position: relative;
      padding-top: 3.5%;
      padding-left: 2.6%;
      padding-right: 3.5%;
      padding-bottom: 2.6%;
    }
    &__title {
      @include title;
    }

    &__subtitle {
      @include subtitle;
    }

    &__fitback {
      @include fitback;
      margin-top: 2.717391%; /* 30/1104 */
      margin-bottom: 2.717391%; /* 30/1104 */
    }

    &__list {
      margin-block-start: 0em;
      margin-block-end: 0em;
      &-item {
        @include list;
        &--title {
          list-style: none;
          margin-left: -30px;
          margin-bottom: 0.905797%; /* 10/1104 */
        }
      }
    }
    &__bottom {
      @include list;
      margin-top: 2.717391%; /* 30/1104 */
    }

    &__close {
      position: absolute;
      top: 4%;
      right: -4%;
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  .pop-up-wrap {
    .pop-up {
      &__close {
        top: -2%;
        right: 5%;
      }
      &__close-wrap {
        max-width: 94.791667%; /* 728/768 */
        max-height: 85vh;
        position: relative;
        padding-top: 3.5%;
        padding-left: 2.6%;
        padding-right: 3.5%;
        padding-bottom: 2.6%;
      }
    }
  }
}

@media (max-width: 550px) {
  .pop-up-wrap {
    .pop-up {
      &__title {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.2px;
      }

      &__subtitle {
        font-size: 14px;
        letter-spacing: 0.2px;
      }

      &__fitback {
        font-size: 13px;
        letter-spacing: 0.2px;
      }

      &__list-item {
        &--title {
          margin-left: -40px;
        }
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.2px;
      }

      &__bottom {
        font-size: 13px;
        letter-spacing: 0.2px;
        line-height: 20px;
      }

      &__close {
        width: 20px;
      }
    }
  }
}
