.proposition-item {
  display: flex;
  &--light {
    background-color: $background-second;
  }
  &--dark {
    background-color: $background-first;
  }
}

@media (max-width: 1700px) {
  .proposition-item {
    flex-direction: column;
  }
}
