.progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(350 / 1366 * 100%);
}

.progress-line {
  width: calc(254 / 350 * 100%);
  height: 1px;
  background-color: white;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  &__arrow-prev {
    background-image: url(../../../assets/icons/arrow-prev.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    &:hover {
      background-color: rgba(247, 245, 242, 0.111);
    }
  }
  &__arrow-next {
    background-image: url(../../../assets/icons/arrow-next.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    &:hover {
      background-color: rgba(247, 245, 242, 0.111);
    }
  }
  &__mouse {
    position: absolute;
    width: 20%;
    height: 7px;
    top: -2.5px;
    left: 0%;
    background-color: red;
    transition: all 0.4s;
  }
}
.progress--position {
  position: absolute;
  bottom: 65px;
  right: 225px;
}

@media (max-width: 1350px) {
  .progress-wrapper {
    width: 340px;
  }
  .progress--position {
    left: 50%;
    transform: translate(-50%);
  }
}

