.slider {
  width: 870px;
  height: 517px;
  &-line {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
  }
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    touch-action: none;
    &.active {
      display: block;
    }
  }
  &--temporary {
    min-width: 859px;
    height: 1104px;
    margin-right: 90px;
    background-color: aqua;
  }
}

.to-left {
  animation-name: left;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}
.to-right {
  animation-name: right;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}
.from-left {
  animation-name: form-left;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}
.from-right {
  animation-name: form-right;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes form-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes form-right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 1400px) {
  .slider {
    height: 413px;
    width: auto;
    &--temporary {
      max-width: 100vw;
      min-width: 0;
      min-height: 470px;
      margin-right: 0;
    }
    &-line {
      img {
        max-width: 625px;
      }
    }
  }
}

@media (max-width: 600px) {
  .slider {
    height: 210px;
    &-line {
      img {
        //width: 280px;
      }
    }
  }
}
