// Colors

$navigation-item: rgba(239, 239, 239, 1);
$navigation-item-hover: rgba(231, 66, 20, 1);
$navigation-contact: rgba(255, 255, 255, 1);
$navigation-border: rgba(227, 226, 226, 1);

$navigation-btn-background: rgba(234, 76, 20, 1);
$navigation-btn: rgba(255, 255, 255, 1);

//Padding, margin

$padding-header: 15px;
