html {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Roboto, Bebas Neue, sans-serif;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  outline: 1px solid red;
}

@media (max-width: 350px) {
  .container {
    overflow-x: hidden;
  }
}
