html {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Roboto, Bebas Neue, sans-serif;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  outline: 1px solid red;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: content-box;
  overflow-x: hidden;
  &--animation-number {
    max-width: 1920px;
    padding: 0;
  }

  &--nested-list {
    padding-left: 60px;
    overflow-x: visible;
    outline: none;
  }
}

@media (max-width: 350px) {
  .container {
    overflow-x: hidden;
  }
}

@media (max-width: 1750px) {
  .container {
    &--animation-number {
      max-width: 1366px;
      padding-left: 30px;
      padding-right: 30px;
      box-sizing: content-box;
    }
  }
}

@media (max-width: 500px) {
  .container {
    &--animation-number {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
