.main {
  position: relative;
  background-color: $background-first;
}

.intro {
  display: flex;
  align-items: end;
  padding-top: 60px;
  padding-bottom: 126px;
  position: relative;
  &__info {
    max-width: calc(424 / 1366 * 100%);
    margin-right: calc(73 / 1366 * 100%);
    .info__text {
      display: flex;
      flex-direction: column;
      align-items: end;
      row-gap: 25px;
      padding-bottom: 50px;
    }
    &-title {
      @include big-title;
    }
    &-desc {
      @include description;
    }
  }
}

@media (max-width: 1350px) {
  .intro {
    display: block;
    padding-top: 100px;
    &__info {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
      max-width: 560px;
      .info__text {
        align-items: center;
        row-gap: 39px;
        padding-bottom: 44px;
      }
      &-title {
        @include big-title-tablet;
        text-align: center;
      }
      &-desc {
        text-align: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .intro {
    padding-top: 80px;
    &__info {
      margin-bottom: 41px;

      .info__text {
        row-gap: 10px;
        padding-bottom: 20px;
      }

      &-title {
        @include big-title-mobile;
      }

      &-desc {
        @include description-mobile;
      }
    }
  }
}

.our-services {
  background-color: $background-first;
  padding-bottom: 160px;
  &__title {
    @include titleh2;
    margin-bottom: 80px;
  }

  &__cards {
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
    margin-bottom: 164px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 51px 45px;
      width: 32%;
      box-sizing: border-box;
      background-color: $backgroundCards;
      border-radius: 5px;
      border: 2px solid #464646;
      transition: all 0.6s;
      text-decoration: none;

      &:hover {
        border-color: $main-color;
        transform: scale(1.03);
      }
      .cards-item__image {
        display: block;
        margin-right: 25px;
      }
      .cards-item__title {
        color: #efefef;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 122.727% */
        letter-spacing: 0.22px;
        color: $textIntoCards;
        margin-block-start: 0;
        margin-block-end: 0;
      }
    }
  }

  &__some-benefits {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1250px) {
  .our-services {
    &__cards {
      justify-content: center;
    }
  }
}

@media (max-width: 1070px) {
  .our-services {
    &__title {
      display: none;
    }
    &__cards {
      flex-direction: column;
      margin-bottom: 66px;
      &-item {
        width: 100%;
        justify-content: left;
        padding: 25px 70px;
        &:hover {
          border: 2px solid #464646;
          transform: none;
        }
        .cards-item__image {
          width: 85px;
          margin-right: 34px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .our-services {
    &__cards {
      margin-bottom: 43px;
      &-item {
        padding: 15px 14px;
        .cards-item__image {
          width: 48px;
          margin-right: 14px;
        }
        .cards-item__title {
          font-size: 13px;
          line-height: 21px;
          text-decoration: none;
        }
      }
    }
    &__some-benefits {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.steps {
  background-color: $background-first;

  &-inner {
    padding-top: 103px;
    padding-bottom: 111px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 83px;
  }

  &__title {
    @include titleh2;
    text-transform: uppercase;
    span {
      color: $main-color;
    }
  }

  &-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__arrow {
      height: 20px;
      align-self: center;
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 1230px) {
  .steps {
    display: none;
  }
}

.finished-projects {
  background-color: #2e2e31;
  &-inner {
    padding-top: 73px;
    padding-bottom: 123px;
    &__title {
      @include titleh2;
    }
  }
  &__btn {
    margin: 0 auto;
    padding: 16px 140px;
  }
}

.tags {
  padding-top: 65px;
  padding-bottom: 26px;
  display: flex;
  &-array {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-filter {
    display: none;
  }

  &__btn {
    padding: 0px;
    margin-left: auto;
    border: none;
    padding-block: 0px;
    padding-inline: 0px;
    background-color: inherit;
    cursor: pointer;
    color: $main-color;
    height: fit-content;

    &--arrow {
      display: flex;
      align-items: center;
      color: #ffff;
      transition: all 0.4s;
      &::before {
        content: url(../../../assets/icons/nested-list/arrow-bottom-inactive.svg);
        margin-right: 10px;
        display: block;
        transform: rotate(-90deg);
        transition: all 0.4s;
      }

      &-active {
        color: $main-color;
        &::before {
          content: url(../../../assets/icons/nested-list/arrow-bottom-active.svg);
          margin-right: 10px;
          display: block;
          transform: rotate(0deg);
          transition: all 0.4s;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .tags {
    flex-direction: column;
    &__btn {
      margin-left: 0;
      &--desctop {
        display: none;
      }
    }

    &-array {
      display: none;
      &--active {
        display: flex;
        justify-content: left;
      }
    }

    &-filter {
      display: flex;
      justify-content: space-between;
      order: -1;
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 650px) {
  .finished-projects {
    &-inner {
      padding-top: 23px;
      padding-bottom: 30px;
      &__title {
        text-align: center;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: 0.28px;
      }
    }
    &__btn {
      padding: 13px 50px;
    }
  }
  .tags {
    padding-top: 21px;
    &-filter {
      font-size: 12px;
      margin-bottom: 16px;
    }
  }
}
