.main {
  position: relative;
  background-color: $background-first;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.intro {
  display: flex;
  align-items: end;
  padding-top: 60px;
  padding-bottom: 126px;
  position: relative;
  &__info {
    max-width: calc(424 / 1366 * 100%);
    margin-right: calc(73 / 1366 * 100%);
    .info__text {
      display: flex;
      flex-direction: column;
      align-items: end;
      row-gap: 25px;
      padding-bottom: 50px;
    }
    &-title {
      @include big-title;
    }
    &-desc {
      @include description;
    }
  }
}

@media (max-width: 1350px) {
  .intro {
    display: block;
    padding-top: 100px;
    &__info {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
      max-width: 560px;
      .info__text {
        align-items: center;
        row-gap: 39px;
        padding-bottom: 44px;
      }
      &-title {
        @include big-title-tablet;
        text-align: center;
      }
      &-desc {
        text-align: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .intro {
    padding-top: 80px;
    &__info {
      margin-bottom: 41px;

      .info__text {
        row-gap: 10px;
        padding-bottom: 20px;
      }

      &-title {
        @include big-title-mobile;
      }

      &-desc {
        @include description-mobile;
      }
    }
  }
}

.our-services {
  background-color: $background-first;
  padding-bottom: 160px;
  &__title {
    @include titleh2;
    margin-bottom: 80px;
  }

  &__cards {
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
    margin-bottom: 164px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 51px 45px;
      width: 32%;
      box-sizing: border-box;
      background-color: $backgroundCards;
      border-radius: 5px;
      border: 2px solid #464646;
      transition: all 0.6s;

      &:hover {
        border-color: #ea4c14;
        transform: scale(1.03);
      }
      .cards-item__image {
        display: block;
        margin-right: 25px;
      }
      .cards-item__title {
        color: $textIntoCards;
        margin-block-start: 0;
        margin-block-end: 0;
      }
    }
  }

  &__some-benefits {
    display: flex;
    flex-wrap: wrap;
  }
}
